.bottombar {
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
  background-color: bisque;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.bottombar > div {
  text-decoration: none;
  margin: 1% 5%;
  /* color: darkblue; */
  font-weight: 800;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .navbar > a {
    font-size: 1.5rem;
  }
}
