.navbar {
  display: flex;
  /* margin-bottom: 1rem; */
  padding: 0.5rem 0;
  justify-content: center;
  background-color: bisque;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar > a {
  text-decoration: none;
  margin: 1% 5%;
  color: darkblue;
  font-weight: 800;
  font-size: 0.8rem;
}

.navbar > .active {
  color: darkcyan;
}
